/* Universal Styles */
html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: white;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: auto;
}

.flex {
  display: flex;
}

/* Header Section */
header {
  height: 64px;
  z-index: 100;
  width: 100%;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 2.5rem;
  margin-left: 1.25rem;
  padding-right: 0.25rem;
}

nav span {
  line-height: 2rem;
  font-size: 1.25rem;
}

ul {
  margin-right: 1.5rem;
  display: flex;
}

ul li {
  display: inline;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

ul li a {
  text-decoration: none;
  color: black;
}
/* Container Sections */

  /* Start Container */
.main {
  background-color: lightgray;
  max-width: 100%;
  display: flex;
}

.image {
  width: 60%;
  margin: 2rem 1.5rem;
  overflow: hidden;
}
.image img,
.image video {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
p {
  color: #413839;
  margin-right: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: normal;
}

.caption {
  margin-top: 4rem;
  width: 40%;
}

.button {
  background-color: #413839;
  padding: 0.5rem;
  text-align: center;
  margin-right: 5rem;
  color: white;
  margin-top: 2rem;
}

.button span {
  width: 50%;
  font-size: 1.5rem;
}

.button,
.main h1,
.main h2 {
  margin-left: 2rem;
}
  /* Practicing Container */
.practicing {
  max-width: 100%;
  display: flex;
}

.options {
  width: 40%;
  padding-top: 1rem;
}

.option {
  width: 100%;
  display: flex;
}

.option .image-container {
  width: 35%;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.info-container {
  display: flex;
  align-items: center;
  width: 65%;
}

.info-container a {
  text-decoration: none;
  color: cornflowerblue;
}
  /* Learning Container */
.learning {
    background-color: lightgray;
    max-width: 100%;
}

.learning h1,
.thesis h1:first-child {
  text-align: center;
  padding-top: 2rem;
}

.courses {
  padding-bottom: 2rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  display: flex;
  justify-content: space-between;
}

.course {
  width: 32%;
  height: auto;
  overflow: hidden;
  background-color: white;
}

.course img {
  max-width: 100%;
  height: auto;
}

.course h2,
.course p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.course p:last-child {
  padding-bottom: 1.5rem;
}
  /* Thesis Container */
.thesis-final {
  max-width: 100%;
  display: flex;
}
/* Footer Section */
footer {
  border-top: solid 1px lightgray;
  margin-left: 1.5rem;
}

#footer span,
#footer li {
  font-size: 0.9rem;
  color: #413839;
}
